name: Auto-update-hosts

on:
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-hosts:
    runs-on: ubuntu-latest

    steps:
      - name: Checking Out
        uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Check virtual environment
        run: |
          poetry --version
          poetry check

      - name: Load cached venv
        uses: actions/cache@v4
        with:
          path: ~/.venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-

      - name: Install dependencies
        run: poetry install --with dev --no-root --no-interaction

      - name: Run Script
        run: poetry run python -m scripts.main --is_in_gha=true

      - name: Auto Commit
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          CURRENT_TIME=$(date -u +"%Y-%m-%d" -d "+8 hours")
          git add .
          git commit -s -m "Auto update hosts ($CURRENT_TIME UTC+8)" || echo "No changes to commit"

      - name: Push changes
        if: github.event_name != 'pull_request'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
